@tailwind components;
@tailwind base;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@font-face {
  font-family: 'drone-ranger-pro';
  src: url('/assets/fonts/Drone.Ranger.Pro/DroneRangerPro-Regular.ttf')
      format('truetype'),
    url('/assets/fonts/Drone.Ranger.Pro/DroneRangerPro-Regular.ttf')
      format('truetype');
}

html {
  @apply text-white bg-back;
}

body {
  @apply text-white bg-back;
}
/* background */
.main-back {
  @apply h-screen bg-no-repeat bg-cover bg-center overflow-auto bg-back bg-[url('/assets/images/back.png')];
}

.new-arrival-back {
  @apply h-[300px] bg-no-repeat bg-cover bg-center overflow-auto bg-back bg-[url('/assets/images/newArrival.png')];
}

/* font style */
.title-40-text {
  @apply font-drone font-bold text-[40px] leading-[56px];
}

.paragraph-text {
  @apply font-inter font-medium text-sm;
}

.header-16-medium-text {
  @apply font-inter font-medium text-base leading-6;
}

/* button style */
.primary-button {
  @apply bg-gradient-to-r from-[#DA458F] to-[#DA34DD] rounded font-inter font-semibold text-base;
}

.secondary-button {
  @apply border-solid border-[1px] border-white rounded box-border font-inter font-semibold text-base;
}

.title-40-text {
  @apply font-drone font-bold text-[40px] leading-[56px] not-italic;
}

.caption-12-medium-text {
  @apply font-inter not-italic font-medium text-xs leading-5;
}

.title-36-text {
  @apply font-drone font-bold text-[36px] leading-8 not-italic;
}

/* play */
.min-height {
  min-height: -webkit-fill-available;
}

.play-game {
  background: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);

  box-shadow: 0px 0px 50px rgba(187, 75, 255, 0.32);
  border-radius: 4px;
  width: 138px;
  height: 42px;
  font-size: 16px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.blur {
  backdrop-filter: blur(24px);
}

.radial-progress:after {
  background-color: white !important;
}

.percentage {
  box-sizing: border-box;
  opacity: 0.8;
  box-shadow: 0px 0px 30px 5px rgba(255, 50, 198, 0.8);
  border-radius: 50%;
  background-color: transparent;
  outline: 1px solid #da458f;
  outline-offset: -12px;
}

.content {
  box-sizing: border-box;
  opacity: 0.8;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  background-color: transparent;
}

.percentage span {
  width: 180px;
  height: 180px;
  box-shadow: 0px 0px 30px 5px rgb(255 50 198 / 80%) inset;
}
.radial-progress:before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: radial-gradient(farthest-side, #fb1eff 100%, #0000) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(#fb1eff, calc(var(--value) * 1%), #0000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
}

.radial-progress:after {
  display: none;
}

.nav-back {
  background: rgba(23, 22, 26, 0.7);
}

.container {
  max-width: 1600px;
  height: 100%;
}

.arrival_rect {
  border: 1px solid #fbc625;
  filter: drop-shadow(-12px 12px 0px #101010);
}

.play-right-back {
  background: linear-gradient(
    145.42deg,
    rgba(177, 153, 90, 0) 57.64%,
    #fbc625 158.75%
  );
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  box-sizing: border-box;
  border-bottom: 1px solid #fbc625;
  border-left: 1px solid #fbc625;
  border-right: 1px solid #fbc625;
}
